<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adoptr</title>
    <link href="../css/output.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navbar bg-base-100 bg-primary text-primary-content">
            <div class="navbar-start">
              <ul class="menu menu-horizontal p-0">
                <li>
                    <a href ="/feed">
                        <img class="w-14 rounded-full" src="../imgs/dogAndCat.PNG">
                    </a>
                </li>
              </ul>
            </div>
            <div class="navbar-center">
                <a href ="/feed" class="btn btn-ghost normal-case text-3xl">adoptr</a>
            </div>
            <div class="navbar-end">
              <ul class="menu menu-horizontal p-0">
                <li><a href ="/feed">Feed</a></li>
                <li><a href ="/profile/<%=user._id%>">Profile</a></li>
                <li><a href ="/account">Account</a></li>
              </ul>
            </div>
          </div>
    </nav>
    

   
    
    
</body>
</html>