<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adoptr</title>
    <link href="../public/css/output.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navbar bg-base-100 bg-primary text-primary-content">
            <div class="navbar-start">
              <ul class="menu menu-horizontal p-0">
                <li>
                    <a>
                        <img class="w-14 rounded-full" src="../public/imgs/dogAndCat.PNG">
                    </a>
                </li>
              </ul>
            </div>
            <div class="navbar-center">
                <a class="btn btn-ghost normal-case text-3xl">adoptr</a>
            </div>
            <div class="navbar-end">
              <ul class="menu menu-horizontal p-0">
                <li><a>Profile</a></li>
                <li><a>New Post</a></li>
                <li><a>Account</a></li>
              </ul>
            </div>
          </div>
    </nav>
    <section class="w-full flex justify-center">
        <section class="w-11/12 md:w-8/12 pt-4 flex-col justify-center items-center"  >
            <div class="card sm:card-side bg-base-100 shadow-xl m-4 w-11/12">
                <figure><img src="https://placeimg.com/400/400/arch" alt="Album"/></figure>
                <div class="card-body">
                  <h2 class="card-title">New album is released!</h2>
                  <p>Click the button to listen on Spotiwhy app.</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                  </div>
                </div>
            </div>
            <div class="card sm:card-side bg-base-100 shadow-xl m-4 w-11/12">
                <figure><img src="https://placeimg.com/400/400/arch" alt="Album"/></figure>
                <div class="card-body">
                  <h2 class="card-title">New album is released!</h2>
                  <p>Click the button to listen on Spotiwhy app.</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                  </div>
                </div>
            </div>
        </section>
    </section>
    
    
</body>
</html>