<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adoptr</title>
    <link href="../css/output.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navbar bg-base-100 bg-primary text-primary-content">
            <div class="navbar-start">
                <ul class="menu menu-horizontal p-0">
                    <li>
                        <a>
                            <img class="w-14 rounded-full" src="../imgs/dogAndCat.PNG">
                        </a>
                    </li>
                  </ul>
            </div>
            <div class="navbar-center">
                <a class="btn btn-ghost normal-case text-3xl">adoptr</a>
            </div>
            <div class="navbar-end">
              <!-- <ul class="menu menu-horizontal p-0">
                <li><a>Login</a></li>
                <li><a>Sign Up</a></li>
              </ul> -->
            </div>
          </div>
    </nav>
        

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Sign Up</h1>
        <p class="py-6">Sign up now to join our community of pet lovers helping animals find a fur-ever home.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 rounded-lg">
        <form class="card-body" action="/signUp" method="POST">
            <div class="form-control">
                <label class="label">
                  <span class="label-text">Username</span>
                </label>
                <input type="text" name="userName" placeholder="username" class="input input-bordered" />
            </div>  
            <div class="form-control">
                <label class="label">
                <span class="label-text">Email</span>
                </label>
                <input type="text" name="email" placeholder="email" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                <span class="label-text">Password</span>
                </label>
                <input type="text" name="password" placeholder="password" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                <span class="label-text">Confirm Password</span>
                </label>
                <input type="text" name="confirmPassword" placeholder="password" class="input input-bordered" />
            </div>
            <div class="form-control mt-6">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
      </div>
    </div>
  </div>
    
</body>
</html>